html { 
  height: 100%;
}
body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  font: 1em Verdana;
}
a {
  color: #000;
}
#filedrag
{
  display: none;
  font-weight: bold;
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  padding: 1em 0;
  margin: 1em;
  color: #555;
  border: 2px dashed #555;
  border-radius: 7px;
  cursor: pointer;
}

#filedrag.hover
{
  color: #f00;
  border-color: #f00;
  border-style: solid;
  box-shadow: inset 0 3px 4px #888;
}

.labels {
     color: #000;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 50px;
     border: 1px solid black;
     white-space: nowrap;
     opacity: 0.8
}

#fullscreen {
  font-size: 1.2em;
}

.source {
  float: right; 
  position:absolute;
  right:1em;
  font-size: 0.8em;
}

.infowindow {
  font-size: 0.8em;
  font-family: Verdana, sans-serif;
  width: 420px; 
  height: 90px;
}
.infowindow .code{
  float:right;
  padding: 0 2px;
}
.infowindow h4, .infowindow .code {
  font-weight: bold;
  font-size: 1em;
}
.infowindow h4 img {
  vertical-align: middle;
}
.infowindow dl dt {
  float:left;
  font-weight:bold;
  margin-right:.5em;
}
.infowindow dl dd,.infowindow h4 {
  margin-bottom: .25em;
}

h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, fieldset, legend {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    
    vertical-align: baseline;
}
.infowindow a {
    color: #594A42;
    text-shadow: 0 1px 0 #FFFFFF;
}