name: Deploy on production

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci --no-audit

      - name: Build (Vite)
        run: npm run build

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          username: deploy
          host: vaguelibre.net
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/geocaching/gpxviewer
            ./deploy.sh \
              --repo git@github.com:${{ github.repository }}.git \
              --dir /var/www/geocaching/gpxviewer \
              --branch ${{ github.ref_name }} \
              --allowed-repo git@github.com:${{ github.repository }}.git \
              --ssh-key-content "${{ secrets.SSH_PRIVATE_KEY }}"
